/* .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 16px;
  align-items: start;
  position: relative;
}

.item {
  position: relative;
  display: flex;
  justify-content: center;
} */

.viewport {
  width: 100%;
}

.grid {
  position: relative;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-evenly;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); */
  gap: 16px;
  padding-bottom: 16px;
}

.item {
  display: flex;
  justify-content: center;
}
