@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900; /* диапазон вариативного веса */
  font-stretch: 75% 125%; /* если используешь wdth */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: italic;
  font-display: swap;
}

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
  
  border: 0;
  outline: 0;

  font-family: "Noto Sans", sans-serif;
}